.entry-card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  background: #fff;

  &__header {
    border-bottom: 1px solid rgba(#000, .12);
    button {
      width: 50%;
    }
  }

  &__content {
    padding: 40px 35px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }

  &__input {
    width: 100%;
    margin-bottom: 10px;
  }
}